body{
    margin: 0;
}

.circles {
    perspective: 10px;
    height: 100vh;
    overflow-y: auto;
}

.circle{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 30vh 10vh 100vh;
}

.circle-1{
    background-color: orange;
    transform: translateZ(0px);
    left: 20%;
}


.circle-2{
    background-color: blue;
    transform: translateZ(-10px) scale(2);
    left: 30%;
}

.circle-3{
    background-color: red;
    transform: translate(-5px) scale(1.5);
    left: 50%;
}




